.button {
background-color: black;
color: #fff;
border-color: black;
border-radius: 0px;
padding: 8px 16px;
font-size: 16px;
height: 50px;
}

.button:hover {
border-color: white!important;
}

.loginAdmin {
color: #000;
font-size: 14px;
text-decoration: none;
}
  
.terms {
margin: 0 auto;
font-size: 10px;
width: 300px;
}
  
.createAcc {
font-size: 10px;
width: 300px;
}

.newToDemo {
font-size: 15px;
}
  
.noStyle {
text-decoration: none;
font-size: 15px;
color: #000;
font-weight: bold;
}
  
.loginInput {
border-color: #000;
border-radius: 0px;
}

.loginInput:focus {
border-color: black;
box-shadow: none;
} 

.eye {
background-color: white;
outline: none;
}

.errorMsg {
font-size: 15px !important;
}

.buttonDemo {
background-color: black;
color: #fff;
border-color: black;
border-radius: 0px;
padding: 15px 20px 15px 20px;
font-size: 14px;
}

.buttonDemo:hover {
border-color: white!important;
}

.modalTitle {
font-size: 40px;
}